<app-roulette></app-roulette>
<app-siri></app-siri>
<app-directive-example></app-directive-example>
<h1>NgContent Example</h1>
<app-story title="The Fresh Prince of Bel-Air">
  <!-- the order of <p content> and <p synopsis> doesn't matter
       because <app-story> decides the order  
  -->
  <p content>
    Now, this is a story all about how My life got flipped-turned upside down
    And I liked to take a minute Just sit right there I'll tell you how I became
    the prince of a town called Bel Air
  </p>
  <p synopsis>A Cool TV Show Script</p>
</app-story>

<app-story title="Shrek">
  <!-- the order of <p content> and <p synopsis> doesn't matter
       because <app-story> decides the order  
  -->
  <p synopsis>A Heart-touching classic</p>
  <p content>
    He gets the girl! (not the way you expected though...)
  </p>  
</app-story>

<app-reactive-form-example></app-reactive-form-example>